@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.fragment {
	font-family: "Roboto", sans-serif;
	text-align: center;
	height: 100vh;
	background-image: linear-gradient(to top, #192655 65%, #7752fe);
	background-repeat: no-repeat;
	overflow: hidden;
}

h1 {
	color: white;
}

.score {
	font-size: 1.5rem;
	color: #fff0ce;
}

.question {
	background-color: #f5f5f5;
	padding: 1.25rem;
	border-radius: 10px;
	margin: 20px;
}
.question img {
	width: 500px;
	height: 300px;
	object-fit: cover;
}
#question-text {
	font-size: 1.5rem;
}
form .choice {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	font-size: 1.5rem;
	color: #ffc436;
}
button {
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px;
}

#start-button {
	background-color: #8e8ffa;
	color: #fff;
	border: none;
	border-radius: 5px;
}

#start-button:hover {
	background-color: #c2d9ff;
	border: 2px solid #8e8ffa;
	color: #3498db;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 600px) {
	form {
		flex-direction: column;
		gap: 0.25rem;
	}
}
