.h1 {
	color: white;
}

.container {
	background-color: #192655;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.form {
	display: flex;
	flex-direction: column;
	color: white;
	gap: 10px;
}

.input {
	width: 200px;
	height: 25px;
	border: 1px solid white;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 5px;
}

.buttonIn {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border: 1px solid white;
	border-radius: 15px;
	background-color: aquamarine;
}

.buttonIn:hover {
	color: black;
	background-color: white;
}
